@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@400;700&display=swap');
$font-family: "Inter", sans-serif;
$roboto-family: "Roboto", sans-serif;
$bg-color: #f5f5f7;
$text-color: #191c1f;

[data-theme="dark"] {
    $bg-color: #121212;
    $text-color: #ffffff;
}